<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Брат 2</title>
    <link rel="stylesheet" href="/static/vendor/css/descr.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Брат 2 (2000)</h1>
        <iframe src="https://vk.com/video_ext.php?oid=374186341&id=456239138&hash=8d095d9811abf099" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</body>
</html>