<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хороший доктор</title>
    <link rel="stylesheet" href="/static/vendor/css/descr.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Хороший доктор (сериал 2017 – ...)</h1><br><br><br>

        <div class="kinobox_player"></div>
<script src="https://kinobox.tv/kinobox.min.js"></script>
<script>new Kinobox('.kinobox_player', {search: {kinopoisk: '1011528'}}).init();</script>

    </div>
</body>
</html>