<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Американский психопат</title>
    <link rel="stylesheet" href="/static/vendor/css/descr.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Американский психопат (2000)</h1>
        <iframe src="https://vk.com/video_ext.php?oid=-170333242&id=456239815&hash=44391bdb27275740" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</body>
</html>